@font-face {
    font-family: 'Cormorant';
    src: url(../fonts/Cormorant-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url(../fonts/Montserrat-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
}

#profile{
    min-height: 60vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    scroll-behavior: smooth;
}

body{
    font-family: var(--montserrat-light-font);
    font-size: 16px;
}

a{
    color: black;
    text-decoration: none;
}

.title{
    font-family: var(--cormorant-font);
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 110px;
}

:root{
    --cormorant-font: Cormorant;
    --montserrat-light-font: Montserrat-Light;
    --montserrat-semi-bold-font: Montserrat-SemiBold;
    --black: #292D32;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.page-name{
    font-size: 36px;
    text-transform: uppercase;
    font-family: var(--cormorant-font);
    width: 100%;
    text-align: center;
    font-weight: lighter;
    margin-top: 100px;
    margin-bottom: 50px;
}

.user-data-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-data *{
    margin-bottom: 15px;
}

.user-data .role{
    margin-bottom: 0;
}

.user-data h2{
    font-size: 26px;
    font-family: var(--cormorant-font);
    font-weight: lighter;
    text-align: left;
}

.btn{
    min-width: 300px;
    height: 40px;
    font-family: var(--montserrat-light-font);
    font-weight: lighter;
    font-size: 18px;
    border-radius: 0px;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}

.user-actions{
    display: flex;
    flex-direction: column;
}